<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
 <div class="container">
   <a class="navbar-brand" href="#">Mycompany</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item active">
         <a class="nav-link" href="#">Home
           <span class="sr-only">(current)</span>
         </a>
       </li>
       <% if current_user %>
         <li class="nav-item">
           <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
         </li>
         <li class="nav-item">
           <%= link_to "Hi #{current_user.email}", edit_user_registration_path, class: "nav-link" %>
         </li>
       <% else %>
         <li class="nav-item">
           <%= link_to "Login", new_user_session_path, class: "nav-link" %>
         </li>
      <% end %>
       <li class="nav-item">
         <%= link_to "User Page", "/home", class: "nav-link" %>
       </li>
       <li class="nav-item">
         <%= link_to "Admin Page", "/admin/users", class: "nav-link" %>
       </li>
     </ul>
   </div>
 </div>
</nav>
