<!DOCTYPE html>
<html>
  <head>
    <title>Myappv2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'bootstrap' %>
    <%= stylesheet_pack_tag 'bootstrap' %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'stylesheets' %>
  </head>

  <body>
    <%= render partial: "/layouts/header" %>

    <div id="main" class="container">
      <%= yield %>
    </div>
  </body>
</html>
